<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME CLOUD</title>
</head>
<body>
    <h1>HOME CLOUD</h1>
    <form action="/browse" method="POST" enctype="multipart/form-data">
        <input type="text" name="folder" placeholder="أسم الملف" value="public" required>
        <input type="submit" value="بحث" id="submitButton">
        <input type="hidden" name="startPoint"value="0">
    </form>

    
</body>
</html>